generative_images/
generative_images_/
im_generation.log
generate
cache.db
__pycache__/
generative_images_descriptions/
generative_images_descriptions_/
yolov8s-world.pt
yolov8x.pt

*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/
