generative_images/
generative_images2/
im_generation.log
generate
cache.db
__pycache__/
yolov8s-world.pt
yolov8x.pt
yolov8l-world.pt
yolov8x-worldv2.pt
optimal_pairs
optimal_pairs[2-3]
tutorial/fine_tune_sd/gifs
generated_prompts2.txt

*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig
**/*.out
**/*.csv
**/*.pdf

pkg/
src/

tutorial/sd_optim_pairs_test
txt2im/diffusers/
im2txt/
tutorial/fine_tune_sd/*/
tutorial/fine_tune_sd/create_gif.py
tutorial/fine_tune_sd/*.ipynb
tutorial/scoring
tutorial/wandb
tutorial/*.py
tutorial/*.ipynb