generative_images/
generative_images2/
im_generation.log
generate
cache.db
__pycache__/
yolov8s-world.pt
yolov8x.pt
yolov8l-world.pt
yolov8x-worldv2.pt
optimal_pairs2

*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

tutorial/sd_optim_pairs_test
txt2im/diffusers/