# Torch
torch # Optionally add ==2.2.1+cu121 if not working
torchvision # Optionally add ==0.17 if not working

#image visualization
pillow==10.3.0

# Transformers huggingface lib
transformers==4.38

accelerate==0.27

diffusers==0.26
scipy==1.12
safetensors==0.4